<%- include('../partials/header') %>

<form id="edit-form" action="/plans/<%= plan._id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Title: 
        <input type="text" name="title" required value="<%= plan.title %>">
    </label>
    <label>Distance:
        <select name="distance">
            <% ["5k", "10k", "Half-Marathon", "Marathon"].forEach(op => { %>
                <option <%- op === plan.distance ? 'selected' : ''%> value="<%= op %>"><%= op %></option>
            <% }) %>
        </select>
    </label>
    <label>Duration (weeks):
        <input type="text" name="duration" value="<%= plan.duration %>">
    </label>
    <label>Notes:
        <textarea name="notes"><%= plan.notes %></textarea>
    </label>
    <input type="submit" value="Edit Plan">
</form>

<%- include('../partials/footer') %>