<%- include('../partials/header') %>

<form id="edit-plan-form" action="/plans/<%= plan._id %>?_method=PUT" method="POST" autocomplete="off">
    <div class="d-flex align-items-left flex-column">
        <div class="d-flex">
    <label><p class="h3 font-weight-bold">Title: 
        <input type="text" name="title" required value="<%= plan.title %>"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Distance:
        <select name="distance">
            <% ["5k", "10k", "Half-Marathon", "Marathon"].forEach(op => { %>
                <option <%- op === plan.distance ? 'selected' : ''%> value="<%= op %>"><%= op %></option>
            <% }) %>
        </select></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Duration (weeks):
        <input type="text" name="duration" value="<%= plan.duration %>"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Notes:
        <textarea name="notes"><%= plan.notes %></textarea></p>
    </label>
    </div>
    </div>
    <div class="d-flex justify-content-center">
    <input type="submit" value="Edit Plan" class="btn btn-info">
    </div>
</form>

<img src="/images/latte-confused.svg" class="img-fluid rounded mx-auto d-flex" alt="Confused Latte" id="latte">

<%- include('../partials/footer') %>