<%- include('../partials/header') %>

    <table id="list">
        <thead>
            <th>Title</th>
            <th>Distance</th>
            <th>Duration (weeks)</th>
            <th></th>
        </thead>
        <tbody>
            <% plans.forEach(function(plan) { %>
                <tr>
                    <td><%= plan.title %></td>
                    <td><%= plan.distance %></td>
                    <td><%= plan.duration %></td>
                    <td><a href="/plans/<%= plan._id %>">Details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>