<%- include('../partials/header') %>

    <table class="table table-bordered table-hover" id="plan-list">
        <thead class="thead-dark">
            <th scope="col-2">Title</th>
            <th scope="col">Created By</th>
            <th scope="col">Distance</th>
            <th scope="col">Duration (weeks)</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <% plans.forEach(function(plan) { %>
                <tr>
                    <td><%= plan.title %></td>
                    <td><%= plan.runner.name %></td>
                    <td><%= plan.distance %></td>
                    <td><%= plan.duration %></td>
                    <td><a href="/plans/<%= plan._id %>">Details</a></td>
                    <% if (plan.runner && plan.runner.equals(user && user._id)) { %>
                    <td><button type="submit"><a href="/plans/<%= plan._id %>/edit">✏️</a></button></td>
                    <td><form id="delete-form" action="/plans/<%= plan._id %>?_method=DELETE" method="POST">
                        <button type="submit">🗑</button>
                    </form></td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>

<%- include('../partials/footer') %>