<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= plan.title %></div>
    <div>Distance: </div>
    <div><%= plan.distance %></div>
    <div>Duration (weeks): </div>
    <div><%= plan.duration %></div>
    <div>Notes: </div>
    <div><%= plan.notes %></div>
</section>



<%- include('../partials/footer') %>