<%- include('../partials/header') %>

<section id="show-plan-page">
        <p class="h2 font-weight-bold text-center"><%= plan.title %></p>
        <p class="h3 font-weight-bold text-center">Created By: <%= runner.name %></p>
        <p class="h4 text-center"><%= plan.duration %>-week training plan in preparation for a <%= plan.distance %></p>
        <p class="h4 text-center"><%= plan.notes %></p>
</section>

<h2 class="detail-header">Training Days</h2>
<% if (plan.days.length) { %>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Day Number</th>
                <th scope="col">Type</th>
                <th scope="col">Distance (miles)</th>
                <th scope="col-6">Notes</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% plan.days.forEach(function(d) { %>
                <tr>
                    <td><%= d.dayNumber %></td>
                    <td><%= d.dayType %></td>
                    <td><%= d.distance %></td>
                    <td><%= d.notes %></td>
                    <% if (plan.runner && plan.runner.equals(user && user._id)) { %>
                    <td><form id="delete-day-form" action="/days/<%= d._id %>?_method=DELETE" method="POST">
                        <button type="submit">🗑</button>
                    </form></td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Days Added to Plan</h5>
<% } %>
<% if (plan.runner && plan.runner.equals(user && user._id)) { %>
<a href='/plans/<%= plan._id %>/days/new'><input type="submit" value="Add a New Day" class="btn btn-info"></a>
<% } %>


<%- include('../partials/footer') %>