<%- include('../partials/header') %>

<section id="show-plan-page">
    <div>Title: </div>
    <div><%= plan.title %></div>
    <div>Created By: </div>
    <div><%= runner.name %></div>
    <div>Distance: </div>
    <div><%= plan.distance %></div>
    <div>Duration (weeks): </div>
    <div><%= plan.duration %></div>
    <div>Notes: </div>
    <div><%= plan.notes %></div>
</section>

<h2>Training Days</h2>
<% if (plan.days.length) { %>
    <table>
        <thead>
            <tr>
                <th>Day Number</th>
                <th>Type</th>
                <th>Distance (miles)</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% plan.days.forEach(function(d) { %>
                <tr>
                    <td><%= d.dayNumber %></td>
                    <td><%= d.dayType %></td>
                    <td><%= d.distance %></td>
                    <td><%= d.notes %></td>
                    <td><form id="delete-day-form" action="/days/<%= d._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Days Added to Plan</h5>
<% } %>
<a href='/plans/<%= plan._id %>/days/new'>Add a New Day</a>


<%- include('../partials/footer') %>