<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img src="/images/running.svg">
    <a href="/plans/new" <%- title === 'Create Plan' ? 'class="active"' : '' %>>CREATE PLAN</a>
    <a href="/plans" <%- title === 'All Plans' ? 'class="active"' : '' %>>ALL PLANS</a>
    <a href="/journals/new" <%- title === 'Create Journal' ? 'class="active"' : '' %>>CREATE JOURNAL</a>
    <a href="/journals" <%- title === 'All Journal' ? 'class="active"' : '' %>>ALL JOURNALS</a>
  </nav>
  <main>
    <h1><%= title %></h1>