<%- include('../partials/header') %>

<section id="show-journal-page">
    <p class="h1 font-weight-bold text-center"><%= journal.title %></p>
    <p class="h2 font-weight-bold text-center">Created By: <%= runner.name %></p>
    <p class="h3 font-weight-bold text-center">This journal utilizes <%= plan.title %></p>
    <p class="h4 text-center"><%= journal.notes %></p>
</section>

<h2 class="detail-header">View Day From Plan</h2>
    <label><p class="h3 font-weight-bold">Day: 
        <select id="day-select">
            <option selected>Select</option>
            <% plan.days.forEach(function(d) { %>
                <option value="<%= d._id %>"><%= d.dayNumber %></option>
            <% }) %>
        </select></p>
    </label>
    <% plan.days.forEach(function(d) { %>
        <div class="day hidden" data-id="<%= d._id %>">
            <p class="h3 font-weight-bold text-center">
                <label><%= d.dayType %> Day</label>
            </p>
            <p class="h3 font-weight-bold text-center">
                <label>Run for <%= d.distance %> miles</label>
            </p>
            <p class="h3 font-weight-bold text-center">
                <label>Additional Notes: <%= d.notes %></label>
            </p>
        </div>
    <% }) %>

<h2 class="detail-header">My Entries</h2>
<% if (journal.entries.length) { %>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Day Number</th>
                <th>Type</th>
                <th>Actual Distance (miles)</th>
                <th>Actual Time (hh:mm:ss)</th>
                <th>Notes</th>
                <th></th>
        </thead>
        <tbody>
            <% journal.entries.forEach(function(e) { %>
                <tr>
                    <td><%= e.date %></td>
                    <td><%= e.dayNumber %></td>
                    <td><%= e.dayType %></td>
                    <td><%= e.actDistance %></td>
                    <td><%= moment.utc(e.actTime * 1000).format('HH:mm:ss') %></td>
                    <td><%= e.notes %></td>
                    <% if (journal.runner && journal.runner.equals(user && user._id)) { %>
                    <td><form id="delete-entry-form" action="/entries/<%= e._id %>?_method=DELETE" method="POST">
                        <button type="submit">🗑</button>
                    </form></td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Entries Added to Journal</h5>
<% } %>
<% if (journal.runner && journal.runner.equals(user && user._id)) { %>
<a href='/journals/<%= journal._id %>/entries/new'><input type="submit" value="Add a New Entry" class="btn btn-info"></a>
<% } %>


<%- include('../partials/footer') %>