<%- include('../partials/header') %>

<section id="show-journal-page">
    <div>Title: </div>
    <div><%= journal.title %></div>
    <div>Plan: </div>
    <div><%= plan.title %></div>
    <div>Distance: </div>
    <div><%= plan.distance %></div>
    <div>Duration (weeks): </div>
    <div><%= plan.duration %></div>
    <div>Notes: </div>
    <div><%= journal.notes %></div>
</section>


<%- include('../partials/footer') %>